body {
    margin: 0;
}

header {
    background-color: #00BFFF;
    position: fixed;
    top: 0;
    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
    padding: 1.5em;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    padding: 0.75em;
    font-family: 'Roboto', sans-serif;
    border-radius: 1em;
    transition: background-color 0.2s linear 0.1s, color 0.3s linear;
}

header a:hover {
    background-color: white;
    color: #00BFFF;
}

#books a {
    background-color: white;
    color: #00BFFF;
}

#name {
    padding-left: 6em;
    padding-right: 6em;
}

#name a {
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3em;
    padding: 0.25em;
    border-radius: 0;
}

#name a:hover {
    background-color: #00BFFF;
    text-decoration: line-through white;
}

main {
    position: absolute;
    top: 12.5%;
    height: 87.5%;
    width: 100%;
    display: grid;
    grid-template: 10% 90% / 100%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00BFFF;
    font-family: 'Roboto', sans-serif;
}

i {
    color: black;
}

section {
    display: grid;
    grid-template: 50% 50% / 20% 30% 20% 30%;
    grid-auto-rows: 50%;
}

.book {
    justify-self: center;
    align-self: start;
}

.quotes {
    justify-self: center;
    align-self: start;
    border: solid #00BFFF 1px;
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    font-weight: 600;
}

img {
    height: 12em;
}

li {
    font-family: 'EB Garamond', serif;
}

@media only screen and (max-width: 600px) {  
    header {
        height: auto;
        position: static;
    }
    
    header li {
        display: block;
        width: 100%;
        font-size: 100%;
    }
    
    #name {
        padding: 1.5em;
    }
    
    main {
        margin-top: 25px;
        height: auto;
        display: block;
        position: static;
        text-align: center;
    }
    
    section {
        display: block;
        height: 250px;
    }
    
    .quotes {
        margin-bottom: 50px;
        
    }
}